<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You are Following "<%= @post.title %>" if you dont wish to recieve notifications unfavorite your  <%= link_to "post", topic_post_url(@post.topic, @post) %>.</h1>
     <p>
       <%= link_to "View post on site", topic_post_url(@post.topic, @post %>
     </p>
   </body>
 </html>