<h1>List of Ads</h1>
<%= @advertisements.each do |a| %>
 <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to "#{a.title} - #{a.price}", a %>
       </h4>
     </div>
   </div>
<% end %>